/*
** ifm.css
**
**	stylesheet for the interactive filtering module component
*/

div.ques {
	font-weight:bold;
	font-size:12px;
	padding: 20px;
}

.ques span {
	padding-top: 40px;
	margin-left: 50px;
}

.ques input {
	padding-top: 10px;
	margin-left: 100px;
}

.num {
	color:#d010b1;
	font-weight:bold;
	font-size:16px;
	margin-bottom:5px;
	}
.inside_top {
	margin-top:0px;
	padding:0px;
	background-image:url(images/stories/decisioncenter/inside_top.gif)0 0;background-repeat:no-repeat;
	}

